*.egg-info/
*.pyc
**/*.pyc
*.ropeproject
*~
*.log
**/*.log
.DS_Store
.coverage
MANIFEST
dist/*
docs/_build/*
htmlcov/*
readings.csv
times.csv
data/basic_stable/
data/24_bus/
data/IEEE_benchmark_to_add/
