*.pyc
*/.DS_Store
/src/demo.hdf5
/src/data/topo/demo_mv_grid.json
/src/data/config.cfg
/.idea
/.vscode
/presentations/*/*.aux
/presentations/*/*.txt
/presentations/*/*.nav
/presentations/*/*.out
/presentations/*/*.snm
/presentations/*/*.gz
/presentations/*/*.toc
/paper/*/*.log
/paper/*/*.aux
/paper/*/*.txt
/paper/*/*.nav
/paper/*/*.out
/paper/*/*.snm
/paper/*/*.gz
/paper/*/*.toc
/paper/*/*.log
